{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>TODO list <a class="btn btn-primary" style="float: right" href="{% url 'todo_list:task-create' %}">Add task</a></h1>
  {% if tasks_list %}
    {% for task in tasks_list %}
      <!-- Task -->
      <div class="py-3 border-bottom">
        <div class="d-flex align-items-start justify-content-between gap-3">
          <div>
            <h4 class="mb-2 fw-bold">
              {{ task.content }}
              {% if task.is_done %}
                <span class="text-success fw-semibold ms-2">Done</span>
              {% else %}
                <span class="text-danger fw-semibold ms-2">Not done</span>
              {% endif %}
            </h4>

            <div class="text-muted mb-3">
              Created: {{ task.created_at|date:"F j, Y, g:i a" }}
              {% if task.deadline %}
              	<span class="text-danger fw-semibold ms-2">Deadline: {{ task.deadline }}</span>
              {% endif %}
            </div>

            <div class="fs-5 text-muted">
              {% if task.tags.exists %}
                Tags: <span class="me-2">{{ task.tags.all|join:", " }}</span>
              {% else %}
                Tags: <span class="me-2">No tags added</span>
              {% endif %}
              <a href="{% url 'todo_list:task-update' pk=task.id%}" class="text-decoration-none me-2">Update</a>
              <a href="{% url 'todo_list:task-delete' pk=task.id%}" class="text-decoration-none">Delete</a>
            </div>
          </div>

          <div class="text-end">
              <form method="post" action="{% url 'todo_list:task-toggle' task.id %}">
                {% csrf_token %}
                <button
                    type="submit"
                    class="btn px-4 {% if task.is_done %}btn-secondary{% else %}btn-success{% endif %}">
                    {% if task.is_done %}Undo{% else %}Complete{% endif %}
                </button>
              </form>
          </div>
        </div>
      </div>
      {% empty %}
        <p>No tasks!</p>
    {% endfor %}
    <!-- Task -->
  {% endif %}

{% endblock %}